@charset "UTF-8";

.box {
	font-size: 14px;
	margin-bottom: 10px;
	background: #ccc;
	padding: 10px;
	overflow: hidden;
}

.shape1 {
	float: left;
	width: 100px;
	height: 100px;
	-webkit-shape-outside: circle(50px, 50px, 50px);
	-webkit-shape-margin: 10px;
	margin: 0 10px 0 0;
	background: tomato;
	border-radius: 50px;
	font-size: 10px;
	word-break: break-all;
	overflow: hidden;
}

.shape2 {
	float: left;
	width: 100px;
	height: 100px;
	-webkit-shape-inside: circle(50px, 50px, 50px);
	margin: 0 10px 0 0;
	background: orange;
	border-radius: 50px;
	font-size: 10px;
	word-break: break-all;
	overflow: hidden;
}
